<script setup lang="ts">
import GrandSon from "./GrandSon.vue";
</script>

<template>
  <div class="son">
    <h2>子组件</h2>
    <GrandSon />
  </div>
</template>

<style scoped>
.son {
  width: 600px;
  min-height: 390px;
  background: skyblue;
  padding: 1.5rem;
  margin: 0.5rem;
}
</style>
