<script setup lang="ts">
import { ref } from "vue";
const money = ref(666);

// 对外暴露
defineExpose({ money });
</script>

<template>
  <div class="son">
    <h2>我是子组件曹植 {{ money }}</h2>
  </div>
</template>

<style scoped>
.son {
  width: 400px;
  height: 290px;
  background: skyblue;
  padding: 0.5rem;
}
</style>
