<script setup lang="ts">
import $bus from "../../bus";

const handler = () => {
  $bus.emit("fll");
};
</script>
<template>
  <div class="child2">
    <h3>我是子组件2：曹丕</h3>
    <button @click="handler">点击我给兄弟送台法拉力</button>
  </div>
</template>

<style scoped>
.child2 {
  width: 400px;
  height: 290px;
  background: coral;
  padding: 0.5rem;
}
</style>
