<script setup lang="ts">
import Child1 from "./Child1.vue";
import Child2 from "./Child2.vue";
</script>
<template>
  <div class="box">
    <h1>全局事件总线$bus</h1>
    <hr />
    <div class="children">
      <Child1 />
      <Child2 />
    </div>
  </div>
</template>
<style scoped>
.box {
  width: 100%;
  height: 400px;
  background: bisque;
  padding: 1rem;
}
.children {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
</style>
