<script setup lang="ts">
import Child from "./Child.vue";
import Child1 from "./Child1.vue";
</script>

<template>
  <div class="box">
    <h1>Pinia</h1>
    <div class="children">
      <Child />
      <Child1 />
    </div>
  </div>
</template>

<style scoped>
.box {
  max-width: 100%;
  min-height: 400px;
  background: bisque;
  padding: 1rem;
}
.children {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 1em;
}
</style>
