<script setup lang="ts"></script>

<template>
  <div class="son">
    <div>我是子组件默认插槽</div>
    <slot></slot>
    <hr />
    <div>具名插槽 msg</div>
    <slot name="msg"></slot>
    <div>具名插槽 foo</div>
    <slot name="foo"></slot>
  </div>
</template>

<style scoped>
.son {
  width: 50%;
  min-height: 200px;
  background: skyblue;
  padding: 1.5rem;
  margin: 0.5rem;
}
</style>
