<script setup lang="ts">
// props：可以实现父子组件通讯，props数据是只读的！
import Child from "./Child.vue";
import { ref } from "vue";

const money = ref(100000);
</script>
<template>
  <div class="box">
    <h1>props：我是父组件曹操</h1>
    <Child info="我是曹操" :money="money" />
  </div>
</template>

<style scoped>
.box {
  width: 100%;
  height: 400px;
  background: yellowgreen;
  padding: 1rem;
}
</style>
