<template>
  <div class="son">
    <h1>我是子组件：Event1</h1>
    <button>点我也执行DOM事件</button>
  </div>
</template>

<style scoped>
.son {
  width: 400px;
  height: 120px;
  background: skyblue;
  padding: 0.5rem;
}
</style>
