<script setup lang="ts">
import { Edit } from "@element-plus/icons-vue";
import HintButton from "./HintButton.vue";

const hanlder = () => {
  alert(12306);
};
</script>

<template>
  <div>
    <h1>useAttrs</h1>
    <p><el-button type="primary" :icon="Edit" size="small"></el-button></p>
    <p>
      <HintButton
        type="primary"
        :icon="Edit"
        size="small"
        title="编辑"
        @click="hanlder"
      />
    </p>
  </div>
</template>
